.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10
}

.main-header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top
}

.main-header > .container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center
}

.logo-header {
    position: relative;
    transform: translateZ(0);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    width: 60px;
    height: 100px;
    padding-right: 1em;
    box-sizing: content-box;
    margin-right: auto
}

.logo-header img {
    max-width: 100%;
    display: inline-block;
    *filter: brightness(0) invert(1)
}

.sticky .logo-header img {
    filter: none
}

/*
.logo-header:before {
    content: "";
    position: absolute;
    top: 0;
    right: -2em;
    width: 4000%;
    height: 100%;
    background-color: #003084;
    z-index: -1;
    transform: skewX(-24deg);
    border-bottom-right-radius: 10px
}
*/

/*===================*/
.toggle-menu-wrapper {
	position: relative;
	z-index: 10;
	margin-left: 10%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	cursor: pointer;
    display: none
}

.toggle-menu-wrapper .label-menu {
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: 14px;
	line-height: 1em;
	vertical-align: middle;
	font-family: "maison neue";
	font-size: .72em;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	margin-left: 2em;
	color: #fff;
	transition: color .4s cubic-bezier(.4, 0, .2, 1)
}

.active-menu .toggle-menu-wrapper .label-menu {
	color: #fff !important
}

.toggle-menu-wrapper .label-menu:before,
.toggle-menu-wrapper .label-menu:after {
	content: "";
	display: block;
	width: 45px;
	height: 14px;
	line-height: 14px;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1)
}

.active-menu .toggle-menu-wrapper .label-menu:before,
.active-menu .toggle-menu-wrapper .label-menu:after {
	transform: translateY(-100%)
}

.toggle-menu-wrapper .label-menu:before {
	content: "menu"
}
.toggle-menu-wrapper .label-menu:after {
	content: "close"
}

.active-menu .toggle-menu-wrapper .label-menu {
	color: #fff
}

.toggle-menu {
	width: 26px;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1)
}

.toggle-menu-icon span {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: transform .4s .4s cubic-bezier(.19, 1, .22, 1),
				opacity .4s .4s cubic-bezier(.19, 1, .22, 1),
				background-color .4s cubic-bezier(.19, 1, .22, 1),
				width .4s .4s cubic-bezier(.19, 1, .22, 1)
}

.active-menu .toggle-menu-icon span {
	background-color: #fff !important;
	transition-delay: 0s
}

.toggle-menu-icon span + span {
    margin-top: 6px
}

.toggle-menu-icon span:nth-child(1) {
	width: 80%
}

.toggle-menu-icon span:nth-child(3) {
	width: 60%
}

.active-menu .toggle-menu-icon span {
	width: 100%
}

.active-menu .toggle-menu {
	transform: rotate(180deg)
}

.active-menu .toggle-menu-icon span:first-child {
    transform: translate3d(0,7px,0) rotate3d(0,0,1,45deg);
    -webkit-transform: translate3d(0,7px,0) rotate3d(0,0,1,45deg)
}

.active-menu .toggle-menu-icon span:nth-child(2) {
    opacity: 0
}

.active-menu .toggle-menu-icon span:last-child {
    transform: translate3d(0,-7px,0) rotate3d(0,0,1,-45deg);
    -webkit-transform: translate3d(0,-7px,0) rotate3d(0,0,1,-45deg)
}

/*==========*/
.menu {
    margin: 0;
    padding: 0;
    list-style: none
}

.menu > li {
    display: inline-block
}

.menu > li + li {
    margin-left: 2.75em
}

.menu > li > a {
    position: relative;
    font-weight: 500;
    display: inline-block;
    line-height: 50px;
    color: rgba(255, 255, 255, .5)
}

.menu > li > a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #FFC300;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1)
}

.menu > li:hover > a,
.menu > li > a:focus,
.menu > li > a:focus:active,
.menu > li.active > a {
    color: #fff
}

.menu > li.active > a:before,
.menu > li:hover > a::before {
    transform: scaleX(1);
    transform-origin: left
}

/*==========*/
.banner-area {
    overflow: hidden;
    height: 100vh;
    position: relative;
    transform: translateZ(0)
}

.banner-area:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-image: url(../img/dotted.png);
    background-repeat: repeat;
    opacity: .35;
    z-index: 2
}

.banner-area .swiper-slide {
    height: 100vh;
    position: relative;
    background-color: #000;
    overflow: hidden
}

.banner-area .swiper-pagination-wrapper {
    position: absolute;
    bottom: 4em;
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: right
}

.banner-area .swiper-pagination-bullet {
    border-color: #fff
}

.banner-area .swiper-pagination-bullet-active {
    border-color: #FFC300;
    background-color: #FFC300
}

.banner-area .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75)0%, rgba(0, 0, 0, 0)100%);
    color: #fff;
    z-index: 2
}

.banner-area .caption .container {
    margin-top: 6em;
    flex-grow: 1;
    -webkit-flex-grow: 1
}

.banner-area .banner-caption {
    position: relative;
    transform: translateZ(0);
    max-width: 500px
}

.banner-area .banner-caption:before {
    content: "";
    position: absolute;
    top: -6em;
    right: 50%;
    bottom: -5em;
    width: 1000%;
    background-color: rgba(0, 48, 132, .7);
    transform: skewX(-12deg);
    border-bottom-right-radius: 10px;
    z-index: -1
}

.banner-area .main-title .title:after {
    color: #FFC300
}

.banner-area .main-title .title {
    font-size: 4.25em;
    font-weight: 600;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    line-height: 1em
}

.banner-area .caption p {
    margin: 0 0 3em;
    color: #fff;
    font-weight: normal
}

.banner-area .caption .btn {
    line-height: 48px;
    border-radius: 4em;
    padding: 0 3em
}

.banner-area .caption .btn + .btn {
    margin-left: 3em
}

.banner-area .caption .btn-simulation {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: inherit;
    color: #fff
}

.banner-area .caption .btn-simulation:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../img/ic_play.svg);
    background-size: .72em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 1em;
    transition: background-color .3s cubic-bezier(.4, 0, .2, 1)
}

.banner-area .caption .btn-simulation:hover::after {
    background-color: #FFC300;
    animation: anim .3s cubic-bezier(.4, 0, .2, 1) forwards
}

@keyframes anim {
    0%,100% {
        background-position: center
    }
    50% {
        background-position: 150% 50%
    }
    51% {
        background-position: -150% 50%
    }
}

/*==========*/
.home-product:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 62%;
    background-color: #003084;
    background-image: url(../img/dotted2.png);
    background-repeat: repeat;
    z-index: -1
}

.home-product .subtitle {
    color: rgba(255, 255, 255, .7)
}

.home-product .main-title .title {
    color: #fff
}

.home-product .main-title .title:after {
    color: #FFC300
}

.list-products .panel {
    margin: 0
}

.list-products .panel-body {
    padding: 2.5em 2.75em
}

.list-products .icon {
    width: 50px;
    display: block;
    vertical-align: middle
}

.list-products .title {
    margin: 0 0 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px
}

.list-products .main-title .title:after {
    background-color: #003084;
    width: 4px;
    height: 4px
}

.list-products p {
    margin: 0 0 1.75em
}

/*==========*/
.latest-article {
    padding-top: 4em;
    overflow: hidden
}

.latest-article:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url(../img/dotted.png);
    background-repeat: repeat;
    opacity: .25;
    z-index: -1
}

.latest-article .container {
    width: auto;
    margin-left: 18.75%;
    margin-right: 0;
    padding: 0 0 0 1em
}

.latest-article .row {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin: 0
}

.latest-article [class^="col-"] {
    padding: 0
}

.latest-article .swiper-container {
    margin-bottom: 3em
}

.single-article {
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 2px
}

.single-article .thumb:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .3s cubic-bezier(.4, 0, .2, 1)
}

.single-article .thumb:after {
    content: "\e628";
    font-family: "themify";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    color: #fff;
    z-index: 2;
    font-size: 2.25em;
    opacity: 0;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1),
                opacity .3s cubic-bezier(.4, 0, .2, 1);
    transition-delay: 0s
}

.single-article:hover .thumb::after {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition-delay: .15s
}

.single-article:hover .thumb::before {
    opacity: 1
}

.single-article .single-desc {
    padding: 1.75em 2em;
    background-color: #003084;
    position: relative
}

.single-article .text-label {
    color: #FFC300
}

.single-article .single-title {
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    margin: .35em 0 0;
    overflow: hidden;
    height: 3.2em;
    line-height: 1.6em
}

/*==========*/
.list-partners {
    background-image: url(../img/bg-partner.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover
}

.list-partners a {
    display: block;
    padding: 2em;
    /*filter: grayscale(1);*/
    opacity: .8;
    transition: opacity .3s cubic-bezier(.4, 0, .2, 1)
}

.list-partners a:hover {
    opacity: 1
}

.list-partners img {
    max-width: 100%;
    vertical-align: middle
}

/*==========*/
.page-header {
    position: relative;
    transform: translateZ(0);
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 400px;
    padding-top: 13.25em;
    padding-bottom: 6em
}

.page-header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url(../img/dotted.png);
    background-repeat: repeat;
    opacity: .4;
    z-index: -1
}

.page-header .container {
    flex-grow: 1;
    -webkit-flex-grow: 1
}

.page-header .row {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end
}

.page-header .main-title {
    margin-bottom: 0
}

.page-header .main-title .subtitle {
    color: rgba(255, 255, 255, .5)
}

.page-header .main-title .title {
    color: #fff
}

.page-header .main-title .title:after {
    color: #FFC300
}

.page-header .meta {
    margin-top: 1em
}

.page-header .meta span {
    color: #FFC300
}

.social-share {
    float: right
}

.social-share span {
    margin-right: 1em;
    color: rgba(255, 255, 255, .5)
}

.social-share a {
    display: inline-block;
    width: 36px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    margin-left: .35em;
    transition: color .3s cubic-bezier(.4, 0, .2, 1),
                border-color .3s cubic-bezier(.4, 0, .2, 1)
}

.social-share a:hover,
.social-share a:focus,
.social-share a:focus:active {
    color: #FFC300;
    border-color: #FFC300
}

.social-share i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px
}

.sidebar-menu {
    margin: 0;
    padding: 0;
    list-style: none
}

.sidebar-menu li + li {
    border-top: 1px dotted #ddd;
    margin-top: .72em;
    padding-top: .72em
}

.sidebar-menu li a {
    display: inline-block;
    font-size: .8em;
    text-transform: uppercase;
    font-family: "maison neue";
    letter-spacing: 1px;
    color: inherit;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1),
                color .3s cubic-bezier(.4, 0, .2, 1)
}

.sidebar-menu li a:hover {
    color: #000;
    transform: translateX(.6em)
}

.sidebar-menu li.active a {
    color: #000;
    transform: none
}

.sidebar-menu li.active a:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1.25em;
    height: 1px;
    background-color: #FFC300;
    margin-right: 1em;
    margin-top: -2px
}

.list-article {
    margin: 0 -1px
}

.list-article [class^="col-"] {
    padding: 0 1px
}

.main-about {
    overflow: hidden
}

.about-header {
    position: relative;
    transform: translateZ(0);
    padding-bottom: 7em;
    margin-bottom: 7em
}

.about-header:before {
    content: "";
    position: absolute;
    top: -7em;
    bottom: 0;
    width: 100%;
    left: -60%;
    background-color: #ddd;
    transform: skewX(-12deg);
    z-index: -1
}

.about-header .box-img:before {
    content: "";
    position: absolute;
    top: 6em;
    left: 6em;
    width: 120%;
    height: 100%;
    background-image: url(../img/dotted.png);
    background-repeat: repeat;
    opacity: .25;
    z-index: -1
}

.about-header .row {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center
}

/*==========*/
.single-post {
    font-size: 16px;
    line-height: 1.7em;
    font-family: 'Roboto', sans-serif;
    color: #666
}

.single-post img {
    display: block;
    border-radius: 2px;
    max-width: 100%;
    margin: 1.75em auto
}

.single-post h1,
.single-post h2,
.single-post h3,
.single-post h4,
.single-post h5 {
    margin-top: 24px;
    margin-bottom: 14px;
    font-weight: 500
}

.single-post ul {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 4em
}

.single-post ul li {
    margin: .25em 0
}

/*==========*/
.gallery-album {
    margin: 0 -1px
}

.gallery-album [class^="col-"] {
    padding: 0 1px
}

.single-album {
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 2px
}

.single-album .thumb:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .3s cubic-bezier(.4, 0, .2, 1)
}

.single-album .thumb:after {
    content: "\e610";
    font-family: "themify";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    color: #fff;
    z-index: 2;
    font-size: 2.25em;
    opacity: 0;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1),
                opacity .3s cubic-bezier(.4, 0, .2, 1);
    transition-delay: 0s
}

.single-album:hover .thumb::after {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition-delay: .15s
}

.single-album:hover .thumb::before {
    opacity: 1
}

.single-album .label {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 2
}

.album-desc {
    padding: 1.75em 2em;
    background-color: #003084;
    position: relative
}

.album-desc .album-title {
    font-size: 1em;
    font-weight: normal;
    color: #fff;
    margin: 0;
    overflow: hidden;
    height: 3.2em;
    line-height: 1.6em
}

.album-desc .text-label {
    color: rgba(255, 255, 255, .5)
}

.gallery-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 2em
}

.gallery-items {
    opacity: 0
}

.gallery-items.shown {
    opacity: 1
}

.gallery-items.animate {
    animation: gallery .3s .2s cubic-bezier(.4, 0, .2, 1) forwards
}

@keyframes gallery {
    from {
        opacity: 0;
        transform: scale(.8)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

.gallery-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .3s cubic-bezier(.4, 0, .2, 1)
}

.gallery-item:after {
    content: "\e610";
    font-family: "themify";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    color: #fff;
    z-index: 2;
    font-size: 2.25em;
    opacity: 0;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1),
                opacity .3s cubic-bezier(.4, 0, .2, 1);
    transition-delay: 0s
}

.gallery-item:hover::after {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition-delay: .15s
}

.gallery-item:hover::before {
    opacity: 1
}

.gallery-item img {
    max-width: 100%;
    vertical-align: middle
}

#map-canvas {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 4em
}

.contact-form .btn-submit {
    float: right;
    background-color: transparent;
    line-height: inherit;
    padding: 0;
    margin-top: 1em
}

.contact-form .btn-submit:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../img/ic_play.svg);
    background-size: .72em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 1em;
    margin-top: -2px;
    transition: background-color .3s cubic-bezier(.4, 0, .2, 1)
}

.contact-form .btn-submit:hover::after {
    background-color: #FFC300;
    animation: anim .3s cubic-bezier(.4, 0, .2, 1) forwards
}

/*==========*/
.list-career + .list-career {
    margin-top: 4em;
    padding-top: 4em;
    border-top: 1px solid #eee
}

.list-career .main-title {
    margin: 0 0 2em
}

.list-career .main-title .title {
    font-size: 2.25em
}

.list-career .career-info {
    font-size: .86em;
    line-height: 1.6em
}

/*==========*/
.calc-simulation {
    position: relative;
    transform: translateZ(0);
    overflow: hidden
}

.calc-simulation:before {
    content: "";
    position: absolute;
    top: -7em;
    bottom: -7em;
    left: -6em;
    width: 50%;
    background-color: #f0f0f0;
    transform: skewX(-12deg);
    z-index: -1
}

.form-simulation {
    position: relative;
    transform: translateZ(0)
}

.form-simulation .form-control {
    border-width: 0 0 1px;
    border-radius: 0;
    border-color: #ddd;
    background-color: transparent;
    padding: 0;
    font-weight: normal;
    text-align: right
}

.form-simulation .form-group {
    margin-bottom: 1.75em
}

.form-simulation .form-control:focus {
    border-color: #003084
}

.form-simulation .btn-submit {
    float: right;
    background-color: transparent;
    line-height: inherit;
    padding: 0;
    margin-top: 1em
}

.form-simulation .btn-submit:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../img/ic_play.svg);
    background-size: .72em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 1em;
    margin-top: -2px;
    transition: background-color .3s cubic-bezier(.4, 0, .2, 1)
}

.form-simulation .btn-submit:hover::after {
    background-color: #FFC300;
    animation: anim .3s cubic-bezier(.4, 0, .2, 1) forwards
}

.simulation-data {
    margin: 0;
    padding: 0;
    list-style: none
}

.simulation-data li + li {
    margin-top: 1.75em
}

.simulation-data span {
    display: inline-block;
    vertical-align: middle
}

.simulation-data .data-value .value {
    font-size: 1.25em;
    color: #000;
    font-weight: 500;
    line-height: 42px
}

.simulation-data .data-value span:first-child:not(.value) {
    margin-right: .5em
}

.simulation-data .data-value span:last-child:not(.value) {
    margin-left: .5em
}

/*==========*/
.main-footer .main-title {
    margin-bottom: 3em
}

.main-footer .main-title .title {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff
}

.main-footer .main-title .title:after {
    color: #FFC300
}

.top-footer {
    background-color: #111;
    color: #fff
}

.logo-footer {
    display: block;
    width: 80px
}

.logo-footer img {
    max-width: 100%
}

.contact-footer p {
    margin: 0;
    color: rgba(255, 255, 255, .5)
}

.contact-footer b {
    font-weight: normal;
    color: #fff
}

.contact-footer p + p {
    margin-top: 1em
}

.footer-nav {
    margin: 0;
    padding: 0;
    list-style: none
}

.footer-nav li + li {
    padding-top: .72em
}

.footer-nav li a {
    display: inline-block;
    font-size: .8em;
    font-family: "maison neue";
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    transition: color .3s cubic-bezier(.4, 0, .2, 1),
                transform .3s cubic-bezier(.4, 0, .2, 1)
}

.footer-nav li a:hover {
    color: #fff;
    transform: translateX(.72em)
}

.bottom-footer {
    padding: 4em 0;
    background-color: #000
}

.copyright {
    font-size: .8em;
    font-family: "maison neue";
    letter-spacing: 1px;
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center
}

.copyright .logo-4vm {
    width: 110px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: .72em
}

.copyright .logo-4vm svg {
    max-width: 100%;
    vertical-align: middle
}