@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Roboto:400,400i,500,500i');

* {
	image-rendering: -webkit-optimize-contrast;
	shape-rendering: geometricPrecision;
	outline: none;
	outline-color: transparent;
	outline-offset: 0;
	outline-style: hidden;
	outline-width: 0;
	
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-rendering: optimizeLegibility !important;
	-webkit-text-rendering: optimizeLegibility !important
}

html {
	font-size: 13.35px
}

body {
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
	background-color: #fafafa;
	font-weight: normal;
	color: #818181;
	line-height: 1.75em;
}

#main {
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s cubic-bezier(.4, 0, .2, 1),
                visibility .6s
}

.load #main {
    opacity: 1;
    visibility: visible
}

.content-wrap {
    padding: 7em 0;
    position: relative
}

.container {
    width: auto;
    margin: 0 18.75%;
    padding: 0 1em
}

.container-fluid {
    padding: 0 6.35em
}

a {
    color: #003084;
    transition: color .3s cubic-bezier(.4, 0, .2, 1)
}

a:hover,
a:focus,
a:focus:active {
    color: #001945;
    text-decoration: none
}

.link {
    display: inline;
    position: relative;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "maison neue"
}

.link:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #003084
}

.link:hover::after {
    animation: link .5s cubic-bezier(.4, 0, .2, 1)
}

@keyframes link {
    0% {
        transform: scaleX(1);
        transform-origin: right
    }
    50% {
        transform: scaleX(0);
        transform-origin: right
    }
    51% {
        transform: scale(0);
        transform-origin: left
    }
    100% {
        transform: scaleX(1);
        transform-origin: left
    }
}

p {
    margin: 0 0 1em
}

b, strong {
    font-weight: 500;
    color: #000
}

/*==========*/
.subtitle {
    color: #aaa;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "maison neue";
    margin-bottom: 1em
}

.main-title {
    margin-bottom: 4em
}

.main-title .title {
    margin: 0;
    font-weight: 600;
    line-height: 1.2em
}

.main-title .title:after {
    content: ".";
    color: #FFC300;
    display: inline-block;
    margin-left: .05em
}

h1, h2, h3, h4, h5 {
    margin: 18px 0 12px;
    line-height: 1.35em;
    color: #000;
    font-weight: 500
}

h1 {
    font-size: 3.25em
}

h2 {
    font-size: 2.75em
}

h3 {
    font-size: 2.25em
}

h4 {
    font-size: 1.75em
}

h5 {
    font-size: 1.25em
}

/*==========*/
.row {
    margin: 0 -1em
}

[class^="col-"] {
    padding: 0 1em
}

.lg-gutter {
    margin: 0 -2em
}

.lg-gutter > [class^="col-"] {
    padding: 0 2em
}

.sm-gutter {
    margin: 0 -.5em
}

.sm-gutter > [class^="col-"] {
    padding: 0 .5em
}

/*==========*/
.thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.box-img {
    position: relative
}

.box-img:after {
    content: "";
    display: block;
    padding-top: 100%
}

/*==========*/
.text-label {
    margin: 0;
    font-size: .8em;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "maison neue";
    letter-spacing: 1px;
    color: #aaa
}

.label {
    font-size: .8em;
    text-transform: uppercase;
    line-height: 1em;
    padding: .72em 1.25em .65em;
    font-weight: 500;
    border-radius: 2em;
    letter-spacing: .25px
}

.label-warning {
    background-color: #FFC300;
    color: #000
}

/*==========*/
.btn {
    height: auto;
    line-height: 40px;
    padding: 0 1.75em;
    border: 1px solid transparent;
    border-radius: 2px;
    font-family: "maison neue";
    font-size: .8em;
    font-weight: normal;
    letter-spacing: .12em;
    text-transform: uppercase;
    transition: color .3s cubic-bezier(.4, 0, .2, 1),
                background-color .3s cubic-bezier(.4, 0, .2, 1)
}

.btn:hover,
.btn:focus,
.btn:focus:active {
    box-shadow: none;
    border-color: transparent
}

.btn-dark {
    background-color: #222;
    color: #fff
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:focus:active {
    background-color: #000;
    color: #fff
}

.btn-primary {
    background-color: #003084;
    color: #fff
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:focus:active {
    background-color: #0E50C2;
    color: #fff
}

.btn-warning {
    background-color: #FFC300;
    color: #000
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:focus:active {
    background-color: #FFD754;
    color: #000
}

.btn-o {
    border: 1px solid #000;
    background-color: transparent;
    color: #000
}

/*==========*/
.form-group {
    position: relative;
    margin-bottom: 1.25em
}

.form-control {
    border: 1px solid transparent;
    height: 42px;
    padding: 0 1.25em;
    background-color: #fff;
    border-radius: 2px;
    font-size: 1em;
    letter-spacing: normal;
    line-height: inherit;
    color: #000;
    font-weight: normal;
    box-shadow: none
}

.form-control:focus {
    box-shadow: none;
    border-color: #003084
}

.js-textarea {
	min-height: 75px;
	resize: none;
	padding: 1em 1.25em
}

.input-group-addon {
    padding: 0 1em 0 0;
    line-height: 40px;
    border: none;
    background-color: transparent;
    color: inherit
}

/*==========*/
.swiper-wrapper {
	transition-timing-function: cubic-bezier(.4, 0, .2, 1) !important
}

.swiper-button-next,
.swiper-button-prev {
	transform: translate3d(0, -50%, 0);
	overflow: hidden;
	background-image: none;
	min-width: 36px;
	line-height: 34px;
	height: 36px;
	font-size: 1em;
	border: 1px solid #000;
	border-radius: 50%;
	text-align: center;
	margin: 0;
	color: #000;
	opacity: 1;
    transition: border-color .3s cubic-bezier(.4, 0, .2, 1),
                color .3s cubic-bezier(.4, 0, .2, 1)
}

.swiper-button-prev {
	left: 2em
}

.swiper-button-next {
	right: 2em
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #003084;
    border-color: #003084
}

.swiper-button-prev:before,
.swiper-button-prev:after {
	content: "\e629";
	font-family: "themify";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1)
}

.swiper-button-prev:after {
	transform: translateX(100%)
}

.swiper-button-prev:hover::before {
	transform: translateX(-100%)
}
.swiper-button-prev:hover::after {
	transform: translateX(0)
}

.swiper-button-next:before,
.swiper-button-next:after {
	content: "\e628";
	font-family: "themify";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1)
}

.swiper-button-next:before {
	transform: translateX(-100%)
}

.swiper-button-next:hover::after {
	transform: translateX(100%)
}
.swiper-button-next:hover::before {
	transform: translateX(0)
}

.swiper-button-wrapper .swiper-button-prev,
.swiper-button-wrapper .swiper-button-next {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	transform: none;
	top: 0;
	left: 0;
	right: 0
}

.swiper-pagination-wrapper .swiper-pagination {
    position: static;
    text-align: inherit
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: none;
    border: 2px solid #000;
    opacity: 1;
    margin: 0 .25em;
    transition: background-color .3s cubic-bezier(.4, 0, .2, 1),
                border .3s cubic-bezier(.4, 0, .2, 1)
}

.swiper-pagination-bullet-active {
    background-color: #003084
}

/*==========*/
.panel {
    margin-bottom: 2em;
    border-radius: 2px;
    border: none;
    box-shadow: none
}

.panel-body {
    padding: 1.75em 2em
}

/*==========*/
.dropdown {
    position: relative
}

.drophover {
    position: absolute;
    transform: translateZ(0);
    top: 100%;
    left: -2.25em;
    min-width: 200px;
    padding: 1.75em 2.25em;
    visibility: hidden;
    transition: visibility .35s
}

.dropdown:hover .drophover {
    visibility: visible
}

.drophover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 18px -12px rgba(0, 0, 0, .35);
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .2s cubic-bezier(.4, 0, .2, 1);
    transition-delay: .15s
}

.dropdown:hover .drophover::before {
    transform: scaleY(1);
    transition-delay: 0s
}

.drophover ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    opacity: 0;
    transform: translateY(-2em);
    transition: opacity .2s cubic-bezier(.4, 0, .2, 1),
                transform .2s cubic-bezier(.4, 0, .2, 1);
    transition-delay: 0s
}

.dropdown:hover .drophover ul {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .15s
}

.drophover ul li {
    display: block;
    white-space: nowrap
}

.drophover ul li + li {
    margin-top: .6em
}

.drophover ul li a {
    display: inline-block;
    color: #999;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1),
                color .3s cubic-bezier(.4, 0, .2, 1)
}

.drophover ul li a:hover,
.drophover ul li a:focus,
.drophover ul li a:focus:active {
    color: #000;
    transform: translateX(.6em)
}

/*==========*/
.breadcrumb-nav {
    margin-bottom: 1em
}

.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    font-size: inherit
}

.breadcrumb li {
    color: #fff;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "maison neue"
}

.breadcrumb li + li:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    background-color: #FFC300;
    width: 1.25em;
    height: 1px;
    margin-left: .5em;
    margin-right: .86em;
    margin-top: -2px
}

.breadcrumb li a {
    color: rgba(255, 255, 255, .5)
}

.breadcrumb li a:hover,
.breadcrumb li a:focus,
.breadcrumb li a:focus:active {
    color: #fff
}

/*=====================*/
.pagination-nav {
	margin-top: 4em;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center
}

.pagination {
    display: block;
    padding: 0;
    margin: 0 0 0 auto;
    border-radius: 0
}

.pagination li {
	display: inline-block
}

.pagination li + li {
	margin-left: .25em
}

.pagination li:first-child a,
.pagination li:last-child a {
    margin-left: 0;
    border-radius: 0
}

.pagination li a {
	position: relative;
    float: none;
	display: block;
	font-weight: normal;
    padding: 0;
    margin-left: 0;
	width: 42px;
	height: 42px;
    line-height: 42px;
	border-radius: 50% !important;
	font-size: .86em;
	text-align: center;
    color: inherit;
    background-color: transparent;
    border: none
}

.pagination li a:focus,
.pagination li a:hover {
    color: #000;
    background-color: transparent
}

.pagination .active a,
.pagination .active a:focus,
.pagination .active a:hover {
	background-color: #fff;
	box-shadow: 0 0 24px rgba(0, 0, 0, .1);
    color: #000
}
